.clip-path-trapezoid {
    clip-path: polygon(0 0, 0 100%, 40% 100%, 100% 0);
    /* background-image: linear-gradient(to right, #275032, #275032, #275032f1, #27503269, transparent, transparent, transparent, transparent); */
    background-image: linear-gradient(151deg, #275032, #275032, transparent, transparent);
}

.line {
    width: 3.5rem;
    height: 1px;
    /* background-color: #13111e33; */
    margin-left: 1rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 10px; /* Spasi antar elemen breadcrumb */
}

.breadcrumb a {
    text-decoration: none;
    color: #ffffff;
}

.breadcrumb li:last-child {
    color: #f9a825; /* Warna kuning untuk elemen terakhir */
}
